.nav_bar{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.nav_bar a{
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.nav_bar a:hover{
    background-color: teal;
    color: navy;
}

.description{
    margin-left: 200px;
}

.index_head{
    margin-left: 200px;
}

.form{
    margin-left: 200px;
}

.table{
    margin-left: 200px;
}

.search_contact{
    width: 120px;
    -webkit-transition: width 1.0s ease-in-out;
    transition: width 1.0s ease-in-out;
}

.search_contact:focus{
    width: 300px;
}

#iD{
    padding: 10px;
}

#fm{
    padding: 10px;
}

#lm{
    padding: 10px;
}

#gen{
    padding: 10px;
}

#phone{
    padding: 10px;
}

#email{
    padding: 10px;
}

#address{
    padding: 10px;
}

#dob{
    padding: 10px;
}

#poS{
    padding: 10px;
}

#dep{
    padding: 10px;
}

#submit{
    padding: 10px;
}